body {
  background-color: rgb(18, 133, 115);
}

#banner1Text {
  color: white;
  background: black;
  text-align: center;
  height: 35px;
  margin: 2px;
}

#rateOutput {
  background: cadetblue;
  margin-top: 75px;
  margin-bottom: 30px;
  height: 75%;
  font-size: 24px;
}

#choose {
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

#banner2Text {
  color: white;
  background: black;
  text-align: center;
  height: 30px;
  margin: 5px;
}

#userEntry {
  background: black;
  margin-top: 75px;
  font-size: 24px;
  height: 75%;
}

#usDollar, #findRate {
  margin: 20px;
}

#banner3Text {
  color: white;
  background: black;
  text-align: center;
  height: 35px;
  margin: 2px;
}

#exchangeOutcome {
  background: aliceblue;
  margin-top: 75px;
  height: 75%;
  font-size: 18px;
}

#displayExchange {
  color: gray;
  font-size: 30px;
  text-align: center;
  margin-top: 75px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

