body {
  background-color: rgb(18, 133, 115);
}

#banner1Text {
  color: white;
  background: black;
  text-align: center;
  height: 35px;
  margin: 2px;
}

#rateOutput {
  background: cadetblue;
  margin-top: 75px;
  margin-bottom: 30px;
  height: 75%;
  font-size: 24px;
}

#choose {
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 18px;
}

#banner2Text {
  color: white;
  background: black;
  text-align: center;
  height: 30px;
  margin: 5px;
}

#userEntry {
  background: black;

}

.btn {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 10%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}
